@font-face {
  font-family: "iconfont"; /* Project id 3031219 */
  src: url('iconfont.woff2?t=1639970678191') format('woff2'),
       url('iconfont.woff?t=1639970678191') format('woff'),
       url('iconfont.ttf?t=1639970678191') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liuliang:before {
  content: "\e600";
}

.icon-zhankai:before {
  content: "\e62c";
}

.icon-wenzi:before {
  content: "\e62d";
}

.icon-wangluo:before {
  content: "\e62e";
}

.icon-changjingdakai:before {
  content: "\e628";
}

.icon-xiazaidaoru:before {
  content: "\e8c6";
}

.icon-daochu:before {
  content: "\e638";
}

.icon-operatingsystem:before {
  content: "\e607";
}

.icon-kuangxuan:before {
  content: "\e60b";
}

.icon-suoxiao:before {
  content: "\ec13";
}

.icon-fangda:before {
  content: "\ec14";
}

.icon-shijidaxiao:before {
  content: "\e636";
}

.icon-shujucaiji:before {
  content: "\e6d5";
}

.icon-24gl-move:before {
  content: "\eb70";
}

.icon-quanping:before {
  content: "\e640";
}

.icon-jietu:before {
  content: "\e60c";
}

.icon-tuoputu:before {
  content: "\e60f";
}

.icon-jichushezhi:before {
  content: "\e688";
}

.icon-bangzhu:before {
  content: "\e8ac";
}

.icon-chuangjian:before {
  content: "\e614";
}

.icon-chanyeyingyongxitong:before {
  content: "\e66f";
}

.icon-map-connect-full:before {
  content: "\ea02";
}

